{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <h1>About Us</h1>
    <p>Welcome to Medibot!</p>
    <p>We’re here to help you with your medical questions and concerns.</p>
    <p>Our chatbot is designed to provide you with accurate and reliable medical advice.</p>
    <p>Whether you’re looking for information on a specific condition or just need some general health advice, our chatbot is here to help.</p>
    <h2>Our team members</h2>
    <p>Trương Tấn Minh (leader) FCT0220 <br>
      Nguyễn Hoàng Thái Sơn FCT0222 <br>
      Trần Ngọc Hải Trân FCT0348 <br>
      Trần Trung Anh  FCT0304   <br>
      Huỳnh Trung Bảo FCT0112 <br>
  </div>
{% endblock %}


