{% extends 'base.html' %}
{% block content %}
<br>
<h1 class="text-center">Frequently Asked Questions (FAQs)</h1>
<br>
<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        How does Medibot work?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
      <div class="accordion-body">
        Medibot is a model trained on a small dataset of common diseases, it will take the input submitted from the chatbox with the user's symptoms and analyze it to give the most fitting result, along with medications to cure the disease, and a list of other diseases with the same symptoms.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        What diseases can't Medibot diagnose?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
      <div class="accordion-body">
        Uncommon diseases or those that requires medical attention would be in the range. For these diseases, it is adviced that the user should seek medical care to be diagnosed correctly.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        What is the purpose of Medibot?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
      <div class="accordion-body">
        Medibot's mission is to deliver accessible and fast diagnosis, along with giving advices on how to relieve pain and those of such, and eradicating the hassle of having to take unnecessary visits to the hospital.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
        Train mode (conversation) for bot:
      </button>
    </h2>
    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
      <div class="accordion-body">
        Train syntax: "trainmode/conversation>"+(user text)+":"+(bot text)
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
        Train mode (symptoms and disease) for bot:
      </button>
    </h2>
    <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
      <div class="accordion-body">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSft-lLr-x3By630451X76JtzMqBAkIZv_yCj2U9YvEymTwa-A/viewform?usp=sf_link" style="color:purple; text-decoration:underline;"> Grow up with me</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}