{% extends 'base.html' %}
{% block content %}
<div class="deez">
<div class="cbox">
    
    <div id="main" class="chat-container">
        </div>
          
        </div>
        <form method="post">
        <div class="form-group">
          
          <div id="userInput" class="row">
            <div class="col-md-10 input-group mb-3">
                <input id="text" type="text" name="msg" placeholder="Message" class="form-control">
                <button type="submit" id="send"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 165 166" fill="none">
                  <path d="M165 83C165 128.84 128.063 166 82.5 166C36.9365 166 0 128.84 0 83C0 37.1604 36.9365 0 82.5 0C128.063 0 165 37.1604 165 83Z" fill="#C3BEF0"/>
                  <path d="M148 83L50.5 128.899V37.1007L148 83Z" fill="#9262B8"/>
                  <path d="M135 82.5L56.25 117.574V47.426L135 82.5Z" fill="#854CB3"/>
                  </svg></button>
            </div>
        </div>
        </div>
      </form>
    </div>
{% endblock %}