{% extends 'base.html' %}
{% block content %}
<div class="chatb">
<div class="cbox">
    
    <div id="main" class="chat-container">
      <div class='d-flex flex-row'> <img src='/static/logo.png' width=60 height=50><span class='message ai-message'>Hello! What symptoms are you currently suffering?</span></div><br>
        </div>
          
        </div>
        <form method="post">
        <div class="form-group">
          
          <div id="userInput" class="row">
            <div class="col-md-10 input-group mb-3">
                <input id="text" type="text" name="msg" placeholder="Message" class="form-control">
                <button type="submit" id="send" class="btn btn-primary">Send</button>
            </div>
        </div>
        </div>
      </form>
      <b>Information provided by Medibot is only partially correct, and getting a real diagnosis if possible is always better.</b>
    </div>
{% endblock %}